
$main-bg-color: #2c313b;
$app-white: #ffffff;

body {
  background-color: $main-bg-color;
}

.main-app-container {
  display: flex;
  flex-direction: row;
  padding-top:10px;
  font-family: 'Roboto', sans-serif !important;

  .dashboard {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    height: 120px;
    
    .dashbboardItem {
      text-align: center;
      background-color: #14bcc8;
      margin: 5px;
      border-radius: 10px;
      color: #ffffff;
    }
  }

  .sidebar {
    flex: 1;
    background-color: 'red';
    border: solid black 1px;
   
    .totalOutput {
      p {
        text-align: center;
        font-size: 20px;
        color: $app-white;
      }
    }

    .lineChart {
      text-align: center;

      .graphHeadline {
          text-align: center;
          font-size: 20px;
          color: $app-white;
          font-size: 17px;
      }

      .line {
          fill: none;
          stroke: #7dc7f4;
          stroke-width: 5px;
      }

      .axis{
          fill:#bbc7d9;
          opacity: 1;
      }

      .axis path,
      .axis line {
          fill: none;
          stroke: none;
          shape-rendering: crispEdges;

      }

      .axis text {
          font-size: 12px;
      }

      .y-grid .tick{
          stroke: #4b5f87;
          opacity: 1;
      }
    }
  }
}

@media (max-width: 768px) 
{
  .main-app-container {
    -webkit-flex-direction: column;
    flex-direction: column;
      .dashboard {
        flex: 1;
        border: solid black 1px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      }

      .sidebar {
        flex: 1;
        flex-direction: row;
      }
  }
}


